<div id="order_venipak">
    <table class="actions" cellspacing="0">
        <tbody>
            <tr>
                <td class="a-right">
                    <?php echo $this->getSaveButtonHtml(); ?>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="entry-edit-head">
        <h4><?php echo $this->getTabLabel(); ?></h4>
    </div>
    <div class="fieldset">
        <div class="hor-scroll">
            <form method="POST" id="venipakForm" action="<?php echo Mage::helper("adminhtml")->getUrl("balticode_venipak/adminhtml_order/save/"); ?>" name="venipakForm">
            <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
            <input type="hidden" name="entity_id" value="<?php echo $this->getOrder()->getEntityId(); ?>" />
            <table class="form-list" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="label"><label><?php echo __('Order Entity ID'); ?></label></td>
                        <td class="value"><?php echo $this->getOrder()->getEntityId(); ?></td>
                    </tr>
                    <?php /*
                    <tr>
                        <td class="label"><label><?php echo __('Label Type'); ?></label></td>
                        <td class="value"><?php echo $this->getLabelTypeHtml(); ?></td>
                    </tr>
                    */ ?>
                    <tr>
                        <td class="label"><label><?php echo __("Pack's"); ?></label></td>
                        <td class="value"><?php echo $this->getPacksCountHtml(); ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo __('Warehouse'); ?></label></td>
                        <td class="value"><?php echo $this->getWarehouseHtml(); ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo __('Return Doc.'); ?></label></td>
                        <td class="value"><?php echo $this->getNoYesHtml('return_doc'); ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo __('Office nr.'); ?></label></td>
                        <td class="value"><?php echo $this->getOfficeNrHtml(); ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo __('Door code'); ?></label></td>
                        <td class="value"><?php echo $this->getDoorNrHtml(); ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo __('Warehouse nr.'); ?></label></td>
                        <td class="value"><?php echo $this->getWarehouseNrHtml(); ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo __('Courrier Call'); ?></label></td>
                        <td class="value"><?php echo $this->getNoYesHtml('comment_call'); ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo __('Manifest no.'); ?></label></td>
                        <td class="value"><?php echo $this->getManifestNrHtml(); ?></td>
                    </tr>
                    <tr>
                        <td class="label"><label><?php echo __('Packs no.'); ?></label></td>
                        <td class="value"><?php echo $this->getPacksNrHtml(); ?></td>
                    </tr>
                </tbody>
            </table>
            </form>
        </div>
    </div>
</div>