<?php
    $_code=$this->getMethodCode();
    $_rate = $this->getRate();
?>
<?php if ($this->getAvailableFields()): ?>
<ul class="form-list" id="shipping_form_<?php echo $_rate->getCode() ?>" style="display:none;">
    <li>
        <?php if ($this->isAvailableFiled('time') && $this->getDeliveryTimes()): ?>
        <label for="<?php echo $_code ?>" class="required"><em>*</em><?php echo $this->__('Choose Shipping Time:') ?></label>
        <span class="">
            <select class="required-entry" name="shipping_venipak[time]">
            <option value=""><?php echo $this->__('Select Shipping Time..'); ?></option>
            <?php foreach ($this->getDeliveryTimes() as $time_code): ?>
                <option value="<?php echo $time_code ?>" <?php echo ($this->getQuoteValue('time_stamp')==$time_code)?'selected="selected"':''; ?>><?php echo $this->getDeliveryTimeLabel($time_code); ?></option>
            <?php endforeach; ?>
            </select>
        </span>
        <?php endif; ?>
        <?php if ($this->isAvailableFiled('door')): ?>
        <label for="<?php echo $_code ?>" class=""><?php echo $this->__("Door code:") ?></label>
        <span class="">
            <input type='text' name='shipping_venipak[door]' class='input-text' maxlength="10" value='<?php echo $this->getQuoteValue('door_nr'); ?>' />
        </span>
        <?php endif; ?>
        <?php if ($this->isAvailableFiled('office')): ?>
        <label for="<?php echo $_code ?>" class=""><?php echo $this->__("Office number:") ?></label>
        <span class="">
            <input type='text' name='shipping_venipak[office]' class='input-text' maxlength="10" value='<?php echo $this->getQuoteValue('office_nr'); ?>' />
        </span>
        <?php endif; ?>
        <?php if ($this->isAvailableFiled('warehouse')): ?>
        <label for="<?php echo $_code ?>" class=""><?php echo $this->__("Warehouse number:") ?></label>
        <span class="">
            <input type='text' name='shipping_venipak[client_warehouse]' class='input-text' maxlength="10" value='<?php echo $this->getQuoteValue('client_warehouse'); ?>' />
        </span>
        <?php endif; ?>
        <?php if ($this->isAvailableFiled('call')): ?>
            <label for="<?php echo $_code ?>" class=""><?php echo $this->__("Call before delivery:") ?></label>
            <span class="">
                <select name='shipping_venipak[call]' class=''>
                    <option value="0" <?php echo ($this->getQuoteValue('call')=="0")?'selected="selected"':''; ?>><?php echo __('No'); ?></option>
                    <option value="1" <?php echo ($this->getQuoteValue('call')=="1")?'selected="selected"':''; ?>><?php echo __('Yes'); ?></option>
                </select>
            </span>
        <?php endif; ?>
    </li>
</ul>
<?php endif; ?>