<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS); ?>/balticode/venipak.js"></script> 
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS); ?>/prototype/validation.js"></script> 
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS); ?>/varien/form.js"></script> 
<div id="callvenipakcourier">
    <div id="messages"><?php
    $message = $this->hasDifferenceLogins();
    if ($message) {
        echo '<span style="color:red"><b>'.$message.'</b></span>';

    }
    echo $this->getMessagesBlock()->getGroupedHtml(); ?></div>
    <form method="POST" name="callVenipakCourierForm" id="callVenipakCourierForm" action="<?php echo Mage::helper("adminhtml")->getUrl("balticode_venipak/adminhtml_xml/callcourier");?>">
            <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
        <ul>
            <li class="weight">
                <label><?php echo __("Weight:"); ?></label>
                <span><input type="text" class="required-entry" name="weight" value="<?php echo $this->getTodayOrdersWeight() ?>" /><?php echo __("kg"); ?></span>
            </li>
            <li class="volume">
                <label><?php echo __("Volume:"); ?></label>
                <span><input type="text" class="required-entry" name="volume" value="" /><?php echo __("m3"); ?></span>
            </li>
            <li class="spp">
                <label><?php echo __("spp:"); ?></label>
                <span><input type="text" class="" name="spp" maxlength="40" value="" /></span>
            </li>
            <li class="doc_no">
                <label><?php echo __("Document no:"); ?></label>
                <span><input type="text" class="" name="doc_no" maxlength="16" value="" /></span>
            </li>
            <li class="date_time">
                <label><?php echo __("Courier pick up:"); ?></label>
                <span class="date_time">
                    <ul>
                        <li class="day">
                            <label><?php echo __("Day:"); ?></label>
                            <span class="date">
                                <input type="text" style="width: 120px;" class="input-text" value="<?php echo Mage::getModel('core/date')->date('Y/m/d') ?>" id="date" name="date"/>
                                <img style="" title="Select Date" id="date_select_trig" class="v-middle" alt="" src="<?php echo $this->getSkinUrl("images/grid-cal.gif");?> "/>
                            </span>
                        </li>
                        <li class="time_from">
                            <label><?php echo __("Time from:"); ?></label>
                            <span class="time">
                                <select id="time_from_h" class="valid" name="time_from_h" onchange="addFromHours(this.value)">
                                    <?php foreach ($this->getTimeInterval(8,20) as $value): ?>
                                        <option value="<?php echo $value; ?>"<?php echo ($value==$this->now("HH"))?'selected="selected"':"" ?>><?php echo $value; ?></option>
                                    <?php endforeach; ?>
                                </select>
                                :
                                <select id="time_from_m" class="valid" name="time_from_m" onchange="addFromMin(this.value)">
                                    <?php $flag=0; foreach ($this->getTimeInterval(0,59,15) as $value): ?>
                                        <option value="<?php echo $value; ?>"<?php 
                                        if(!$flag && ($value>=$this->now("mm"))){
                                            echo 'selected="selected"';
                                            $flag = 1;
                                        }
                                        ?>><?php echo $value; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </span>
                        </li>
                        <li class="time_to">
                            <label><?php echo __("Time to:"); ?></label>
                            <span class="time">
                            <select id="time_to_h" class="valid" name="time_to_h" onchange="addToHours(this.value)">
                                    <?php foreach ($this->getTimeInterval(10,22) as $value): ?>
                                        <option value="<?php echo $value; ?>"<?php echo ($value==($this->now("HH")+2))?'selected="selected"':"" ?>><?php echo $value; ?></option>
                                    <?php endforeach; ?>
                                </select>
                                :
                                <select id="time_to_m" class="valid" name="time_to_m" onchange="addToMin(this.value)">
                                    <?php $flag = 0; foreach ($this->getTimeInterval(0,59,15) as $value): ?>
                                        <option value="<?php echo $value; ?>"<?php 
                                        if(!$flag && ($value>=$this->now("mm"))){
                                            echo 'selected="selected"';
                                            $flag = 1;
                                        }
                                        ?>><?php echo $value; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </span>
                            <input type="hidden" name="interval" class="time_difference" id="time_difference" value="">
                        </li>
                        <li>
                            <span class="comment"><?php echo __("Must be at least 2 hours difference between TIME FROM and TIME TO"); ?></span>
                        </li>
                    </ul>
                </span>
            </li>
            <li class="commentar">
                <label><?php echo __("Comment:"); ?></label>
                <span><input type="text" name="comment" maxlength="50" /></span>
            </li>
            <li class="warehouse">
                <label><?php echo __("Warehouse:"); ?></label>
                <?php echo $this->getLayout()->getBlockSingleton('Balticode_Venipak_Block_Venipak')->getWarehouseHtml(null,"warehouse_id"); ?>
            </li>
            <li class="buttons">
                <div class="submit_button">
                    <!-- <button type="button" class="button" name="call_courier" onclick="callVenipakCourierForm.submit(this)">Call</button> -->

                    <button type="submit" title="<?php echo $this->__('Call') ?>" class="button">
                        <?php echo $this->__('Call') ?>
                    </button>


                </div>
            </li>
            <?php if(count($this->getCourierArrive())): ?>
                <li class="courier_arrive">
                    <label><?php echo __("Today, the courier will arrive:") ?></label>
                    <table class="couriers_data" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <td colspan="6" class="empty"><hr></td>
                            </tr>
                            <tr>
                                <td class="courier_id"><?php echo __("ID") ?></td>
                                <!--<td class="courier_sender"><?php echo __("Sender") ?></td>-->
                                <td class="courier_address"><?php echo __("Address") ?></td>
                                <td class="courier_contacts"><?php echo __("Contacts") ?></td>
                                <td class="courier_weight_volume"><?php echo __("Weight,<br>volume") ?></td>
                                <td class="courier_time"><?php echo __("Time") ?></td>
                                <td class="courier_comment"><?php echo __("Comment") ?></td>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($this->getCourierArrive() as $courier_data): ?>
                                <?php $warehouse_date = $this->getWarehouseData($courier_data['warehouse_id']); ?>
                                <tr>
                                    <td colspan="6" class="empty"><hr></td>
                                </tr>
                                <tr>
                                    <td><?php echo $courier_data['code']; ?></td>
                                    <!--<td><?php echo $warehouse_date['c_name']; ?></td>-->
                                    <td><?php echo $warehouse_date['c_city'].',<br>'.$warehouse_date['address'].'<br>'.$warehouse_date['p_code'].'<br>'.Mage::getModel('directory/country')->loadByCode($warehouse_date['iso'])->getName();; ?></td>
                                    <td><?php echo $warehouse_date['name'].'<br>'.$warehouse_date['tel']; ?></td>
                                    <td><?php echo $courier_data['weight'].'kg,<br>'.$courier_data['volume'].'m3'; ?></td>
                                    <td><?php echo $courier_data['pickup_time_from'].'-'.$courier_data['pickup_time_to']; ?></td>
                                    <td><?php echo $courier_data['comment']; ?></td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </li>
            <?php endif; ?>
        </ul>
        <input type="hidden" name="selected_orders" id="selected_ordersgg" value="" />
        <input type="hidden" name="selected_orders" value="<?php echo $_REQUEST['order_ids'] ?>" />
    </form>
    
    <script type="text/javascript">
        //<![CDATA[
        var callvenipakcourier = new VarienForm('callVenipakCourierForm');
        
        window.onload = function() {
          collectTime();
        }
        Validation.add('time_difference', "<?php echo __('Check time interval.') ?>", function(v) {
            if( v >= 120) return true;
            return false;
        })

        Calendar.setup({
            table_class: "calendar",
            inputField: "date",
            ifFormat: "%Y/%m/%e",
            showsTime: false,
            button: "date_select_trig",
            align: "Bl",
            singleClick : true,
            disableFunc: function(date)  {
                var now= new Date();
                if(date.getFullYear()   <   now.getFullYear())  { return true; }
                if(date.getFullYear()   ==  now.getFullYear())  { if(date.getMonth()    <   now.getMonth()) { return true; } }
                if(date.getMonth()      ==  now.getMonth())     { if(date.getDate()     <   now.getDate())  { return true; } }
            }
        });
        //]]>
    </script>
</div>