#callvenipakcourier
{
    font-size: 14px;
    padding: 6px;
}
#callvenipakcourier label
{
    display: inline-block;
    width: 130px;
}
.calendar.time table
{
    width: 150px;
}
.calendar.time thead,
.calendar.time tbody .daysrow
{
    display: none;
}

/*#callvenipakcourier li.weight,
#callvenipakcourier li.volume,
#callvenipakcourier li.spp
{
    display: block;
}*/
#callvenipakcourier li,
#callvenipakcourier .validation-advice {
    line-height: 20px;
}
#callvenipakcourier li.weight input,
#callvenipakcourier li.volume input,
#callvenipakcourier li.spp input,
#callvenipakcourier li.doc_no input,
#callvenipakcourier li.day input
{
    width: 100px;
}
#callvenipakcourier li.warehouse select,
#callvenipakcourier li.commentar input
{
    width: 200px;
}
#callvenipakcourier li.date_time span.date_time ul
{
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#callvenipakcourier .comment 
{
    color: red;
    font-size: 12px;
}
#callvenipakcourier .submit_button
{
    display: block;
    text-align: center;
    padding: 15px;
}
#callvenipakcourier .submit_button button
{
    width: 80px;
    height: 24px;
}
#callvenipakcourier .courier_arrive label
{
    width: auto;
    font-size: 14px;
}
#callvenipakcourier .courier_arrive label thead
{
    font-weight: bold;
}

#callvenipakcourier .courier_arrive .courier_id { width: 55px; }
#callvenipakcourier .courier_arrive .courier_address { width: 85px; }
#callvenipakcourier .courier_arrive .courier_contacts { width: 85px; }
#callvenipakcourier .courier_arrive .courier_weight_volume { width: 65px; }
#callvenipakcourier .courier_arrive .courier_time { width: 85px; }
#callvenipakcourier .courier_arrive .courier_comment { width: 80px; }


#callvenipakcourier .couriers_data
{
    font-size: 12px;
}
#callvenipakcourier table,
#callvenipakcourier table td
{
    border:solid 0px #990000;
}

#callvenipakcourier .validation-advice {
    display: inline-block;
    float: right;
    background:none;
    margin: 0px 0px 0px 0px;
}

